<section class="user-comments">

    <h4 class="comments-heading"><span class="number-comments">0</span> Comments</h4>

    <div class="comments-sort">
        <h6 class="comments-sort-heading">Sort</h6>
        <button>Likes</button>
        <button>Newest</button>
    </div>

    <div class="comment">
        <p>There are no comments on this article.</p>
    </div>

</section>